* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
}

body {
  background-color: #f4d7d3;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#splash-screen-welcome-video video {
  margin-left: 3rem;
  margin-bottom: 15rem;
  width: 70%;
}

#splash-screen-form-container {
  position: relative;
  opacity: 1;
  margin-right: 2rem;
}

#splash-screen-form-container .heart_doodle_1 {
  position: absolute;
  left: -10rem;
  top: -10rem;
  width: 145%;
  opacity: 0.1;
  z-index: -1;
  transform: rotate(15deg);
}

#splash-screen-form-title {
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  color: #3396d3;
  letter-spacing: 1.5px;
  position: relative;
  display: inline-block;
  margin-right: 10rem;
  margin-bottom: 2rem;
  opacity: 0.8;
}

#splash-screen-form-title::after {
  content: "beta";
  display: inline-block;
  font-family: "SN Pro", sans-serif;
  font-size: 1.5rem;
  color: #3396d3;
  letter-spacing: 0;
  font-style: italic;
  position: absolute;
  top: 1rem;
  right: -3rem;
  opacity: 0.8;
}

.splash-screen-form-item #key_code {
  border: 0;
  border-radius: 0.25rem;
  outline: none;
  width: 80%;
  font-size: 3rem;
  height: 5rem;
  font-family: "SN Pro", sans-serif;
  margin-bottom: 0.5rem;
  opacity: 0.5;
  z-index: 3000;
}

.splash-screen-form-item #key_code::placeholder {
  color: #fff;
  padding-left: 0.5rem;
}

.splash-screen-form-item[type="submit"] {
  width: 10rem;
  height: 4rem;
  font-size: 1.5rem;
  font-family: "SN Pro", sans-serif;
  background-color: #3396d3;
  opacity: 0.8;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}

.splash-screen-form-item[type="submit"]:hover {
  background-color: #f2aebb;
}

@media (max-width: 440px) {
  html {
    font-size: 8px;
  }

  body {
    flex-direction: column;
    justify-content: space-between;
  }

  #splash-screen-welcome {
    order: 1;
  }

  #splash-screen-welcome-video {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #splash-screen-welcome-video video {
    width: 90%;
    margin-left: 0;
    margin-bottom: 0;
  }

  #splash-screen-form-container {
    margin-right: 0;
  }

  #splash-screen-form-container .heart_doodle_1 {
    width: 140%;
    top: 5rem;
    left: -12rem;
    z-index: 100;
    transform: rotate(22.5deg);
  }

  #splash-screen-form-title {
    font-size: 6.5rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 20rem;
  }

  #splash-screen-form-title::after {
    font-size: 2.5rem;
    right: -20rem;
  }

  .splash-screen-form-item #key_code {
    font-size: 4rem;
    height: 5rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .splash-screen-form-item[type="submit"] {
    width: 12rem;
    height: 5rem;
    font-size: 1.75rem;
  }
}

@media (max-width: 1200px) {
  body {
    flex-direction: column;
    justify-content: space-between;
  }

  #splash-screen-welcome {
    order: 1;
  }

  #splash-screen-welcome-video {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #splash-screen-welcome-video video {
    width: 90%;
    margin-left: 0;
    margin-bottom: 0;
  }

  #splash-screen-form-container {
    margin-right: 0;
  }

  #splash-screen-form-container .heart_doodle_1 {
    width: 140%;
    top: 5rem;
    left: -12rem;
    z-index: 100;
    transform: rotate(22.5deg);
  }

  #splash-screen-form-title {
    font-size: 6.5rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 20rem;
  }

  #splash-screen-form-title::after {
    font-size: 2.5rem;
    right: -5rem;
  }

  .splash-screen-form-item #key_code {
    font-size: 4rem;
    height: 5rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .splash-screen-form-item[type="submit"] {
    width: 12rem;
    height: 5rem;
    font-size: 1.75rem;
  }
}
